.u-section-1 {
  background-image: linear-gradient(45deg, #f5f7fa, #ccd3db);
}

.u-section-1 .u-sheet-1 {
  min-height: 627px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 627px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  object-position: 50.58% 50%;
  background-position: 100% 50%;
  height: 606px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 627px;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 200px;
  margin: 81px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-group-1 {
  width: 302px;
  min-height: 28px;
  height: auto;
  margin: 9px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 175px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: -28px 0 0 144px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 21px 129px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 70px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-1 .u-image-1 {
    height: 440px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 588px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 383px;
    width: 378px;
    margin-top: 67px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-5 {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1 .u-image-1 {
    width: 465px;
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 33px;
  }

  .u-section-1 .u-image-1 {
    width: 327px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}